###############################
# Python staff
###############################

__pycache__/

# SQlite database
.db.sqlite3

# Environment variables
.env


###############################
# Editors
###############################

# Jetbrains
.idea/

# VScode
.vscode/