###############################
# Python staff
###############################

__pycache__/

# SQlite database
*.sqlite3

# Environment variables
.env

# Staticfiles
staticfiles/

###############################
# Editors
###############################

# Jetbrains
/.idea/*
!/.idea/runConfigurations


# VScode
.vscode/