[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~= 4.1.4"
black = "~=22.12.0"
flake8 = "~=6.0.0"
isort = "~=5.11.2"
requests = "*"
pydantic = "*"
psycopg2-binary = "*"
djangorestframework = "~=3.14.0"
djangorestframework-simplejwt = "==5.2.2"

[dev-packages]

[requires]
python_version = "3.10"
